{{> header }}
 <div>
   <h3> Boilerplate - Title here</h3>
   <div class="tc">
   <form method="POST" action="/contact">
     <ol>
       <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"><span class='li mr2 w2'>&rarr;</span><label for="contact_form">Contact form</label>
         <br>
         <input name="email" placeholder="Your email">
         <br>
     <textarea class="w6 h3" name="message" placeholder="Your message here"></textarea></li>
   </ol>
   </form>
 </div>
 </div>
